/* Move down content because we have a fixed navbar that is 50px tall */
.body {
  padding-top: 50px;
  padding-bottom: 20px;  
}

.navbar-header {
    width: 100%;
    text-align: center;
}

.navbar-header > li {
    float: none;
    display: inline-block;
}

.ppal{
	background-image: url(index3.jpg);
	background-size: cover;
	width: 100vw;
    height: 100vh;
}

.about{
	width: 100vw;
    height: 100vh;
}

.jumbotron{
	background-color:transparent !important;
	margin: 0 auto;
	width: 90%;
/*     position: relative; */
/* 	top: 50%;  */
/* 	left: 50%; */
/* 	transform: translate(-50%, -50%); */
}

.container{
	margin: 0 auto;
	width: 90%;
/* 	position: relative; */
/* 	top: 50%;  */
/* 	left: 50%; */
/* 	transform: translate(-50%, -50%); */
}

#titulo{
	margin: 0 auto;
/* 	position: relative; */
/* 	transform: translate(-50%, 0%); */
	text-align: center;
	font-weight: 1000;
}

#titulo h1{
	letter-spacing: 5px;
    margin: 5px 0;
    font-size: 3.5vw;
} 

#titulo h4{
	font-size: 1vw;
}
.table{
	position: absolute;
	top: 50%; 
	left: 50%;
	transform: translate(-50%, -50%);
  	border: 4px solid #dddddd;
  	margin: 25px;
}

.table th{
   text-align: center;
   border: 2px solid #dddddd;
}

#btnmemoria, #btncodigo, #btnapp{
	white-space: normal;
}

.formulario{
	width: 600px;
	position: absolute;
	top: 50%; 
	left: 50%;
	transform: translate(-50%, -50%);
}

.row{
	display: flex;
	text-align: center;
}

/* .col-md-4{ */
/* 	border: 4px solid #dddddd; */
/* } */
#sinborde{
	border: 0px;
}

.col-md-6{
	border: 4px solid #dddddd;
}

#aboutappG{
	background-image: url(logogithub.jpg);
	background-size: cover;
	width: 25vw;
    height: 10vh;
}

#aboutappES{
	background-image: url(logoES.jpg);
	background-size: cover;
	width: 25vw;
    height: 10vh;
}

#aboutappKI{
	background-image: url(logokibana.jpg);
	background-size: cover;
	width: 25vw;
    height: 10vh;
}
#aboutappPY{
	background-image: url(logopython.jpg);
	background-size: cover;
	width: 25vw;
    height: 10vh;
}

.techs th{
	width: 115px;
  	overflow: auto;
  	text-align: center;
}
.techs{
  	overflow: auto;
/*   	width: 50%; */
    margin: 25px auto;
    float: none;
}

#about{
	margin: 25px;
}
#aboutus{
	margin: 25px;
}

/* #enlaces{ */
/* 	margin: 25px auto; */
/* } */
#subenlaces{
	margin: 25px auto;
}

#columna1{
	border: 0px;
}

#boton{
	border-radius: 20px;
    font-size: 40px;
    line-height: 1.33333;
    padding: 50px 60px;
}




